/************************************
CSS Reset
*************************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fafafa;
}

ul,li{
    display: inline-block;
    padding: 0;
    margin: 0;
}
body{
    background: #fafafa;
    color: rgba(35, 47, 62, 0.89);
}
.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0;
}
/************************************
Utils
*************************************/
.background-37475A{
    background-color: #37475A;
}
.background-232F3E{
    background-color: #232F3E;
}
.background-fafafa{
    background-color: #fafafa;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.red-color{
    color: red;
}
.gray-color-8F8E8E{
    color: #8F8E8E;
}
.cyan-color-00FFE0{
    color: #00FFE0;
}
.width-26-percentage{
    width: 26%;
}
.width-39-percentage{
    width: 39.045%;
}
.width-24-percentage{
    width: 24.118%;
}
.padd-20{
    padding: 1.25rem;
}
.padd-bot-20{
    padding-bottom: 1.25rem;
}
.white-color-fafafa{
    color: #fafafa;
}
.width-79{
    width: 79%;
}
.border-radius-8{
    border-radius: .5rem;
}
.outline-border-none{
    outline: none;
}
.border-1-FAFAFA{
    border: 0.0625rem #fafafa solid;
}
.border-1-333333{
    border: 0.0625rem #333333 solid;
}
.background-none{
    background: none;
}
.gap-30{
    gap: 1.875rem;
}
.gap-68{
    gap: 4.25rem;
}
.gap-120{
    gap:7.5rem;
}
.gap-32{
    gap: 2rem;
}
.gap-54{
    gap: 3.375rem;
}
.gap-19{
    gap: 1.1875rem;
}
.margin-top-38{
    margin-top: 2.375rem;
}
.margin-left-56{
    margin-left: 3.5rem;
}
.margin-left-76{
    margin-left: 4.5rem;
}
.margin-bot-60{
    margin-bottom: 3.75rem;
}
.margin-top-19{
    margin-top: 1.1875rem;
}
.padding-top-bot-11{
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
}
.text-decoration-line-through{
    text-decoration: line-through;
}
.font-weight-500{
    font-weight: 500;
}
.box-shadow-one{
    box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}
.margin-top-100{
    margin-top: 6.25rem;
}
.width-30{
    width:30%;
}
.width-71-percentage{
    width: 71%;
}
.padd-36{
    padding: 2.25rem;
}
.padd-40{
    padding: 2.5rem;
}
.width-33-percentage{
    width: 33%;
}
.vertical-align-mid{
    vertical-align: middle;
}
.border-orange{
    border: orange 1px solid;
}
.with-60-px{
    width: 3.75rem;
}
.width-18-percentage{
    width: 18%;
}
/**********
typeographi
**********/
.f-size-40{
    font-size:2.5rem ;
}
.f-size-32{
    font-size: 2rem;
}
.f-size-30{
    font-size: 1.875rem;
}
.f-size-16{
    font-size: 1rem;
}
.f-size-18{
    font-size: 1.125rem;
}
.f-size-14{
    font-size: 0.875rem;
}
.f-size-28{
    font-size: 1.75rem;
}
.f-size-20{
    font-size: 1.25rem;
}
.f-size-24{
    font-size: 1.5rem;
}

/************************************
sign in inputs
*************************************/
.first-name-input{
    padding: 0.78125rem 1.125rem;
    width: 16.75rem;
}
.last-name-input{
    padding: 0.78125rem 1.125rem;
    width: 16.75rem;

}
.email-name-input{
    padding: 1.125rem 1.875rem;

}
.password-name-input{
    padding: 1.125rem 1.875rem;

}
/********************************
components
********************************/

.first-button-blue{
    background: linear-gradient(270deg, #1B3FC0 -3.68%, #3595C5 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    color: #fafafa;
    padding: 5px 10px;
}
.create-your-account-btn{
    padding-left: 10.40625rem;
    padding-right: 10.40625rem;
    background-color: #30F31F;
    color: #fafafa;
    border: 0.0625rem solid #30F31F;
    border-radius: 2.21875rem;
}
.search-input-product-page{
    background: #3333;
    width: 0%;
    padding: 0;
    transition:  1s linear;
    border: none;
    outline: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.product-card-container-products-page{
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    border-radius: 1rem;
    background-color: #376DD6;

}
/***************************
...
**************************/
.google-play-method{
    padding: 0.9375rem 10.8125rem 0.9375rem 1.5rem;
    background: #FAFAFA;

    border-radius: 2.21875rem;
    color: #474545;
    gap: 5.125rem;
}
.search-icon-product-page{
    padding: 0.53125rem 1.625rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #13A4EC;
    transition:  1s;
}
.or-text::before{
    display: flex;
    content: '';
    border: 0.0625rem solid #232323;
    height: 12.25rem;
}
.or-text::after{
    display: flex;
    content: '';
    border: 0.0625rem solid #232323;
    height: 12.25rem;
}
/**************************
main header
****************************/

.main-header-container{
    background-color: #232F3E;
    width: 100%;
}

/**************
product page
***************/
/* .body-products{
    background-color: rgba(35, 47, 62, 89%);
} */

/******
hero-section-home-page
**********/
.main-hero-sction-home-page{
    background-image: url(../img/hero-section-img.png);
}
.main-hero-section-text-home-page{
    padding: 9.532rem 0;
}
/***********
progress bar for review
********************/
.comments-of-users-container{
    height: 30rem;
    overflow-y: scroll;
}
.progress-bar-container{
    border-radius: 1rem;
    border: 0.0625rem solid #fafafa;
    width: 75%;
}
.progress-bar{
    border-radius: 1rem;
    background-color: orange;
    padding: 0.5rem 1rem 0.875rem 1rem;
    transition: 1s all;
    width: 0%;
}
/**************
more details page
**************/
.input-for-determine-number-of-products{
    text-align: center;
    border: none;
    outline: none;
    border-top: 0.0625rem #333333 solid;;
    border-bottom: 0.0625rem #333333 solid;;
}
.input-for-determine-number-of-products::-webkit-outer-spin-button,
.input-for-determine-number-of-products::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mines-btn{
    width: 9.4%;
}
.related-products-container{
    transition: .6s all linear;
    left: 0%;
}
.related-section-container{
    overflow: hidden;
    height: 22rem;
    /* position: relative;
    overflow-y: hidden;
    overflow-x: scroll; */
}
.arrows-container{
    height: 2.5rem;
}
/*******************
slideShow
*******************/
.main-hero-section-text-products-page{
    background-image: url(../img/hero-section-img.png);
    transition: all 1s;
    border-radius: .5rem;
    margin-top: 1rem;
}
.text-of-hero-section{
    padding: 9rem 24.5rem 9rem 24.5rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: .5rem;
}
/****************
home page
****************/
.text-offer-of-product{
    background-image: url(../img/vertical-icon-product.png);
    padding: 0.5rem 4.5rem 10.2rem 0.5rem;

}
.remaning-time-for-off{
    background-color: #084F8F;
    color: #FAFAFA;
    padding: 1.875rem 1.875rem 7rem 1.875rem;
    border-radius: .5rem;
}
